@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Della+Respira&family=Kanit&family=Prompt&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

body {
    max-width: 100%;
}

.container {
    text-align: center;
    padding-top: 1rem;
}

td>small {
    font-weight: 600;
    margin-left: 5px;
    font-size: 0.75rem;
}

.confirmed {
    color: red;
}

.deceased {
    color: grey;
}

.recovered {
    color: green;
}

.vaccinated {
    color: rgb(10, 181, 233);
}

.state_name {
    cursor: pointer;
    color: rgb(0, 47, 255) !important;
}

.state_name:hover {
    font-size: 1.025rem;
}

.updated_date {
    color: green;
}

.tested {
    color: #bd4618e8;
}