@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Della+Respira&family=Kanit&family=Prompt&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

body {
    max-width: 100%;
}

.container {
    text-align: center;
    padding-top: 1rem;
}

td>small {
    font-weight: 600;
    margin-left: 5px;
    font-size: 0.75rem;
}

.confirmed {
    color: red;
}

.deceased {
    color: grey;
}

.recovered {
    color: green;
}

.vaccinated {
    color: rgb(10, 181, 233);
}

.state_name {
    cursor: pointer;
    color: rgb(0, 47, 255) !important;

}

.state_name:hover {
    font-size: 1.025rem;
    text-decoration: none;
}

.updated_date {
    color: green;
}

.tested {
    color: #bd4618e8;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    width: 100%;
    background-color: whitesmoke;
}

footer>* {
    align-self: center;
    text-align: center;
}

.link {
    align-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 34rem;
}

.link i {
    color: black;
    font-size: 1.5rem;
}

.link i:hover {
    color: gray;
    font-size: 1.6rem;
}

.container_data {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
    max-width: 100%;
    flex-grow: inherit;
    justify-content: space-between;
    margin: 1rem 0;
}

.container_data div {
    /*border: 1px solid #ccc;*/
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

.confirmed_24 {
    background-color: aliceblue;
    color: #1269d4;
    border: 1px solid #1269d4;
}

.deceased_24 {
    background-color: whitesmoke;
    color: #6b6a6a;
    border: 1px solid #6b6a6a;
}

.recovered_24 {
    background-color: #cbfbcb;
    color: green;
    border: 1px solid green;
}

.active_24 {
    color: red;
    background-color: rgb(243 202 202);
    border: 1px solid red;
}

.vaccination_number {
    color: blue;
    background-color: turquoise;
    width: fit-content;
    text-align: center;
    align-items: center;
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .container_data {
        display: flex;
        flex-direction: column;
    }
    .container_data div {
        margin-bottom: 1rem;
        text-align: center;
    }
}