<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<style>
    body {
        background-color: #2D72D9;
        color: white;
        text-align: center;
        font-size: 1.2rem;
    }

    a {
        color: white;
    }

    h1 {
        font-size: 15rem;
        font-style: italic;
        padding: 0;
        margin: 0;
    }
</style>

<body>
    <div>
        <h1>404</h1>
        <p>The requested resource does not exist.</p>
        <a href="/">Home</a>
    </div>
</body>

</html>