{% extends "layout.html" %}
{% block title %}
COVID-19 India
{% endblock %}
{% block head %}
{{ super() }}
<script async src="/static/script.min.js"></script>
{% endblock %}
{% block content %}
<div class="container content">
    <h3 class="main_heading">COVID-19 Dashboard - India</h3>
    <small>Data as on: <span class="updated_date"></span></small>
    <hr>
    <h5 class="m-2 ">Total Cases</h5>
    <div class="container_data">
        <div class="confirmed_24">
            <p>Confirmed</p>
            <h3></h3>
            <small></small>
        </div>
        <div class="active_24">
            <p>Active</p>
            <h3></h3>
            <small></small>
        </div>
        <div class="deceased_24">
            <p>Deceased</p>
            <h3></h3>
            <small></small>
        </div>
        <div class="recovered_24">
            <p>Recovered</p>
            <h3></h3>
            <small></small>
        </div>
    </div>
    <div class="vaccination_number"></div>
    <!--Plotly graph-->
    <div id="totalDiv"></div>
    <div id="dailyDiv"></div>
    <div id='totalBarDiv'></div>
    <div style="width: 100%; overflow-x: auto;">
        <table class="table-bordered table main_table text-center mt-3" id="main_table">
            <thead>
                <tr class="thead-dark">
                    <th>State Name</th>
                    <th>Confirmed</th>
                    <th>Active</th>
                    <th>Deceased</th>
                    <th>Recovered</th>
                    <th>Tested</th>
                    <th>Vaccinated</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}