{% extends "layout.html" %}
{% block title %}
COVID-19 India
{% endblock %}
{% block head %}
{{ super() }}
<script src="/static/state_script.js"></script>
{% endblock %}
{% block content %}
<div class="container content">
    <h3 class="main_heading">COVID-19 Details - {{ state }}</h3>
    <small>Data as on: <span class="updated_date"></span></small>
    <hr>
    <a href="/">Home</a>
    <!--Plotly Graphs Section-->
    <div id='stateDiv'></div>
    
    <table class="table-bordered table state_main_table text-center mt-3" id="{{ state_id }}">
        <thead>
            <tr class="thead-dark">
                <th class="sticky-col first-col">District Name</th>
                <th>Confirmed</th>
                <th>Active</th>
                <th>Deceased</th>
                <th>Recovered</th>
                <th>Tested</th>
                <th>Vaccinated</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}